@tailwind base;
@tailwind components;
@tailwind utilities;

@import "common.scss";

@media (prefers-color-scheme: dark) {
  :root,
  [data-theme="dark"] {
    /*dark*/
    color-scheme: dark;
    --foreground-color: #fff;
    --secondary-fg-color: #666;
    --background-color: #0d1117;
    --secondary-bg-color: #eeeeeebb;
    --background-opacity-color: #ffffffd3;
    --theme-color: #927bbb;
    --theme-color-light: #9b8eee;
    --selection-color: #dcc1fd; /* 元素浅色 */
    --navline-width: 0.5rem;

    --primary: #8975dc;
    --secondary: #959595;

    --theme-green: #8aeb93;
    --theme-red: #ffa28b;

    --color-panel-bg: rgba(255, 255, 255, 0.2);
    --color-panel: #fff;

    --color-same-bg: #0d1117;
    --color-same: #ffffff;

    --color-toc-bg: #e6edf3;
  }
}

@media (prefers-color-scheme: light) {
  :root,
  [data-theme="light"] {
    /*light*/
    color-scheme: light;
    --foreground-color: #fff;
    --secondary-fg-color: #666;
    --background-color: #0d1117;
    --secondary-bg-color: #eeeeeebb;
    --background-opacity-color: #ffffffd3;
    --theme-color: #927bbb;
    --theme-color-light: #9b8eee;
    --selection-color: #dcc1fd; /* 元素浅色 */
    --navline-width: 0.5rem;

    --primary: #cfacfa;
    --secondary: #959595;

    --theme-green: #8aeb93;
    --theme-red: #ffa28b;

    --color-panel-bg: rgba(255, 255, 255, 0.2);
    --color-panel: #fff;

    --color-toc-bg: #ffffff;

    --color-same-bg: #fff;
    --color-same: #000;
  }
}

html.light[data-theme="dark"] {
  display: none;
}

html.dark[data-theme="light"] {
  display: none;
}

html {
  font-size: 12px; // Used as 1rem size.
  scroll-behavior: smooth;

  @media (min-width: 640px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  position: relative;
  color: var(--foreground-color);
  background: url("/images/BG.png") no-repeat, #0d1117;
  background-size: 3282px 1533px;
  background-position: 70% 0;
  font-family: var(--font-ibmplexsans), -apple-system, Microsoft Yahei UI,
    sans-serif;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;

  ::selection {
    background: var(--selection-color);
    color: var(--background-color);
    border-radius: 5px;
  }
}

main {
  position: relative;
  padding-top: 60px;
  min-height: 100vh;
}

.container {
  height: 100%;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 1rem 60px;

  @media (min-width: 1024px) {
    max-width: 80%;
  }

  @media (min-width: 1280px) {
    max-width: 1200px;
    padding: 50px 1rem;
  }
}

.footer {
  margin-right: 2rem;

  @media (min-width: 768px) {
    margin-right: 7rem;
  }

  @media (min-width: 1500px) {
    margin-right: 23rem;
  }
}

.textcolor-body {
  color: var(--foreground-color);
}

.textcolor-theme {
  color: var(--theme-color);
}

.textcolor-secondary {
  color: var(--secondary-fg-color);
}

button {
  @apply px-4 py-2 transition-all duration-200;
  color: var(--foreground-color);
  border-radius: 6px;
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1),
    0px -1px 0px 1px rgba(0, 0, 0, 0.25) inset,
    0px 2px 0px 0px rgba(255, 255, 255, 0.2) inset;

  &:hover {
    background: var(--theme-color-light);
  }
}

button.rounded {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

img {
  transition: all 0.2s;
  -webkit-user-drag: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  cursor: pointer;
  pointer-events: auto;
}

.next-breadcrumbs {
  background-color: var(--color-same-bg);

  &-item {
    color: var(--color-same);
  }
}

.tag {
  display: inline-flex;
  padding: 2px 4px;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 0.8rem;
}

.tag-active {
  background-color: var(--theme-color);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 900;
  font-weight: 800;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  &.navbar-fix {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.self {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 60px;
  right: 10%;
  z-index: 1;

  .avatar {
    width: 15%;
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  .sayHi {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
    line-height: 3rem;
  }
}

.banner {
  width: 100%;
  border-radius: 20px;
  background: url("/images/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 40px;

  height: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 250px;
  animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  height: 100%;
}

.person-side {
  color: #bfbfbf;

  .contact-icon {
    background: rgba(255, 255, 255, 0.5);
    height: 32px;
    display: inline-flex;
    width: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .tags {
    margin-top: 1rem;

    .tag {
      display: inline-block;
      border: 1px solid #bfbfbf;
      border-radius: 999em;
      padding: 0 10px;
      line-height: 24px;
      font-size: 14px;
      text-decoration: none;
      margin: 0 1px;
      margin-bottom: 6px;
    }
  }
}

.tag-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  color: var(--color-panel);
  background: var(--color-panel-bg);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.75rem;
  height: auto;
}

.menuBar {
  position: sticky;
  top: 60px;

  &_hidden {
    position: fixed;
    top: 50%;
    right: 0;
    width: 30px;
    padding: 1rem 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--primary);
    color: var(--background-color);

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    cursor: pointer;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .toc {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    background: var(--color-toc-bg);
    color: #000;
    padding: 1rem;
    border-radius: 0.75rem;
    font-size: 0.9rem;

    @media (max-width: 1024px) {
      display: flex;
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
      box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.3);
      transition: all 300ms ease-in-out;
      padding: 0;
      max-width: 0px;
    }

    .label {
      font-weight: 500;
      font-size: 1.2rem;
      display: flex;
      cursor: pointer;
      .rightArrow {
        display: none;
      }
    }

    .js-toc {
      & > .toc-list {
        position: relative;
        overflow: hidden;
      }
      .toc-list {
        padding-left: 0.8rem;

        .toc-list-item {
          margin: 0.5rem 0;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;

          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        .is-collapsible {
          max-height: 1000px;
          overflow: hidden;
          transition: all 300ms ease-in-out;
        }
        .is-collapsed {
          max-height: 0;
        }

        .is-active-link {
          color: var(--theme-color);

          &::before {
            background: var(--theme-color);
          }
        }
      }

      .toc-link::before {
        background-color: var(--color-toc-bg);
        content: " ";
        display: inline-block;
        height: 100%;
        left: 0;
        margin-top: -1px;
        position: absolute;
        width: 4px;
      }
    }
  }

  .toc-side {
    max-width: 150px;
    max-height: 60%;
    padding: 1rem;
    z-index: 60;
    border-radius: 0.7rem 0 0 0.7rem;

    .rightArrow {
      display: inline-block !important;
      filter: brightness(0);
    }

    .js-toc {
      overflow: auto;
      scrollbar-width: thin;
      direction: rtl; // 滚动条放左侧
      & > .toc-list {
        direction: ltr; //内容变回正常
      }
    }
  }
}