@tailwind base;
@tailwind components;
@tailwind utilities;

@import "common.scss";

// @import 'typography.scss';

:root {
  --foreground-color: #fff;
  --secondary-fg-color: #666;
  --background-color: #0d1117;
  --secondary-bg-color: #eeeeeebb;
  --background-opacity-color: #ffffffd3;
  --theme-color: #927bbb;
  --theme-color-light: #9b8eee;
  --navline-width: 0.5rem;

  --primary: #8975dc;
  --secondary: #959595;

  --theme-green: #8aeb93;
  --theme-red: #ffa28b;
}

html.light[data-theme="dark"] {
  display: none;
}

html.dark[data-theme="light"] {
  display: none;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-color: #ddd;
//     --secondary-fg-color: #aaa;
//     --background-color: #222;
//     --secondary-bg-color: #555;
//     --background-opacity-color: #222222bb;
//     --theme-color: #fe7d49;
//     --theme-color-light: #fe7d4930;
//   }
// }

html {
  font-size: 13px; // Used as 1rem size.
  scroll-behavior: smooth;
}

@media (min-width: 640px) {
  html {
    font-size: 15px;
  }
}

body {
  position: relative;
  color: var(--foreground-color);
  background: url("/images/BG.png") no-repeat, #0d1117;
  background-size: 3282px 1533px;
  background-position: 70% 0;
  font-family: var(--font-ibmplexsans), -apple-system, Microsoft Yahei UI,
    sans-serif;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;

  ::selection {
    background: var(--theme-color);
    color: var(--background-color);
    border-radius: 5px;
  }
}

main {
  position: relative;
  padding-top: 60px;
  min-height: 100vh;
}

.footer {
  margin-right: 2rem;

  @media (min-width: 768px) {
    margin-right: 7rem;
  }

  @media (min-width: 1500px) {
    margin-right: 23rem;
  }
}

.textcolor-body {
  color: var(--foreground-color);
}

.textcolor-theme {
  color: var(--theme-color);
}

.textcolor-secondary {
  color: var(--secondary-fg-color);
}

button {
  @apply px-4 py-2 transition-all duration-200;
  color: var(--foreground-color);
  border-radius: 6px;
  background: linear-gradient(180deg, #7c6ce4 0%, #624de3 100%);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1),
    0px -1px 0px 1px rgba(0, 0, 0, 0.25) inset,
    0px 2px 0px 0px rgba(255, 255, 255, 0.2) inset;

  &:hover {
    background: var(--theme-color-light);
  }
}

button.rounded {
  padding: 0.5rem;
  border-radius: 8px;
}

img {
  transition: all 0.2s;
  -webkit-user-drag: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.tag {
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 32px;
  border: 1px solid;
  font-size: 12px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 900;
  font-weight: 800;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  &.navbar-fix {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.self {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 60px;
  right: 10%;
  z-index: 100;

  .avatar {
    width: 15%;
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  .sayHi {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
    line-height: 50px;
  }
}

.container {
  height: 100%;
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  padding: 10px 1rem 60px;

  @media (min-width: 1440px) {
    max-width: 1280px;
    padding: 50px 1rem;
  }
}

.banner {
  width: 100%;
  border-radius: 20px;
  background: url("/images/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 40px;

  height: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSideBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 250px;

  &-fix {
    position: fixed;
    top: 80px;
    animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
  }
}

.person-side {
  color: #bfbfbf;

  .contact-icon {
    background: rgba(255, 255, 255, 0.5);
    height: 32px;
    display: inline-flex;
    width: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .tags {
    margin-top: 1rem;

    .tag {
      display: inline-block;
      border: 1px solid #bfbfbf;
      border-radius: 999em;
      padding: 0 10px;
      line-height: 24px;
      font-size: 14px;
      text-decoration: none;
      margin: 0 1px;
      margin-bottom: 6px;
    }
  }
}

.tag-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 0.75rem;
  height: auto;
}

.toc {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  background: #ffffff;
  color: #000;
  padding: 1rem;
  border-radius: 0.75rem;
  height: auto;

  .label {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .js-toc {
    & > .toc-list {
      overflow: hidden;

      position: relative;
    }
    .toc-list {
      padding-left: 0.8rem;
    }
    .toc-list-item {
      margin: 8px 0;
    }

    .toc-link::before {
      background-color: #fff;
      content: " ";
      display: inline-block;
      height: 100%;
      left: 0;
      margin-top: -1px;
      position: absolute;
      width: 4px;
    }

    .is-active-link {
      color: var(--theme-color);

      &::before {
        background: var(--theme-color);
      }
    }
  }
}
