@import '@/styles/common.scss';

.homeBanner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .homeBg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/images/home-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
  }
  .content {
    position: relative;
    z-index: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;

    .sayHi {
      // font-family: "Poppins";
      font-size: 100px;
      font-weight: bolder;
      color: #31363f;
      :last-child {
        font-size: 24px;
        font-weight: normal;
      }
    }

    .avatar {
      width: 10%;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .contactBtn {
    z-index: 800;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    column-gap: 16px;

    .icon {
      color: #fff;
      font-size: 24px;
    }
  }
  .scrollUp {
    z-index: 800;
    position: absolute;
    bottom: 10px;
    display: inline-block;
    animation-name: bounce;
    animation-duration: 2s;
    transform-origin: center bottom;
    animation-iteration-count: infinite;

    .icon {
      color: #fff;
      font-size: 24px;
    }
  }
}

.homeContent {
  // background-color: #e7e1f8;

  section {
    margin: 2rem 0;
  }

  .sectionTitle {
    font-size: 32px;
    font-weight: bold;
    margin: 1rem 0;
  }

  .pubList {
    position: relative;
    width: 100%;

    .pubItem {
      width: 100%;

      &_content {
        overflow: hidden;
        div {
          @include ellipsis;
        }

        a {
          color: #7469b6;
          font-weight: 500;
        }

        .lightText {
          color: #898989;
          font-size: 12px;
        }
      }
    }
  }

  .projectList {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_item {
      display: flex;
      flex-direction: column;

      div {
        @include ellipsis;
      }
    }
  }
}
